- content_for :head do
  = google_maps_javascript_include_tag
  :javascript
    var currentUserIsGuest = #{!!current_user.is_guest};

<!-- ko if: !fullscreen() -->
%h1
  = t('views.collections.index.collections')
  %p#snapshot_loaded_message{style: 'display:none'}
    <!-- ko if: currentSnapshot() -->
    <!-- ko with: currentCollection -->
    %span.i18g-snapshot
    %span{ko(text: :viewingCurrentSnapshotMessage )}
    %a{ko(click: :unloadCurrentSnapshot)}
      = t('views.collections.index.go_back_to_present')
    <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->

= render 'collections/fields/field_hierarchy_items_template'
= render 'collections/sites/map_sites_template'
= render 'collections/sites/map_hierarchy_items_template'
= render 'collections/sites/table_sites_template'
= render 'collections/sites/table_hierarchy_items_template'

#refine-container{style: 'display:none'}
  <!-- ko if: currentCollection() -->
  = render 'collections/index/canned_queries'
  <!-- /ko -->

= render 'collections/index/download_dialog'
= render 'collections/index/share_dialog_url'
#collections-dummy{style: 'height:600px'}
#collections-main.box.slightly-padded.h50{style: 'display:none'}

  <!-- ko if: showingMap() -->
  = render 'collections/index/map'
  <!-- /ko -->

  <!-- ko if: !showingMap() -->
  = render 'collections/index/table'
  <!-- /ko -->

  .clear
