= render '/tabs'

.tabsline.settings-form
  %h2 Print Template
  %p Create Custom Template for site rendering
  %br/


= form_for collection do |f|
  .smalltext{style: 'float;left'}
    .template_text
    -["Site Name", "Creator", "Latitude", "Longtitude"].each do |elm|
      %a.site-token{href:'#'}
        [#{elm}]
  %input{type: 'hidden', value: 'print', name: 'tab'}
  .field.w60
    = f.text_area :print_template, class: "custom-tinymce", style: 'width: 1200px;', rows: 15, cols: 150
    = f.button 'Save', :class => 'white'
    = link_to 'Cancel', collections_path, :class=> 'grey'
