= render '/tabs'

.tabsline.settings-form
  %h2=t('views.collections.print_template.title')
  %p=t('views.collections.print_template.description')

= form_for collection do |f|

  %div.row
    .smalltext{style: 'float;left'}
      .template_text
      -["Site Name", "Creator", "Lat", "Lng"].each do |elm|
        %a.site-token{href:'#', style: 'margin-right: 2px'}
          [#{elm}]
      -@fieldCodes.each do |code|
        %a.site-token{href:'#', style: 'padding-right: 2px'}
          {#{code}}

  %div.row
    %input{type: 'hidden', value: 'print', name: 'tab'}
    = f.text_area :print_template, class: "custom-tinymce"
  %div.row
    = f.check_box :is_published_template
    = f.label :is_published_template, t('views.collections.print_template.is_published_template')
  - if current_user_snapshot.at_present? && collection_admin?
    %div.row
      = f.button t('views.collections.print_template.save'), :class => 'white'
      = link_to t('views.collections.print_template.cancel'), collections_path, :class=> 'grey'
