.control.clearfix
  %label{ko(css: {error: 'nameError'})}
    = t('views.report_queries.name')
  %input.w60{ko(value: :name),type: :text}

.control.clearfix
  %label
    = t('views.report_queries.condition_fields')
  %div.select
    /ko with: $root.newCondition()
    %div
      %select{"data-bind" => 'foreach: $root.layers(), value: field, selectedOptions: selectedField'}
        %optgroup{"data-bind" => "attr: {label: name}, foreach: fields", style: ''}
          %option{"data-bind" => "text: name, option: name, value: $data"}

      %span is

      %select{ko(value: :operator, options: :operatorOptions, optionsText: "'label'")}

      %input{ko(value: :value), type: :text}

    %div{style: 'margin-top:-2px'}
      %button.padd{ ko(click: '$parent.addConditionField'), title: 'Add condition' }

    //ko

.control.clearfix
  %label
  %ul.list
    /ko foreach :conditionFields
    %li
      .box.light-grey
        %span{ko(text: :id)}
      .box.light-grey.w30
        = render 'report_queries/condition_template'
      %button.pclose{ ko(click: '$parent.removeConditionField'), title: 'Remove condition' }
    //ko

.control.clearfix
  %label
    = t('views.report_queries.condition')
  %input.w30{ko(value: :condition), type: :text}

.control.clearfix
  %label{ko(css: {error: 'groupByFieldError'})}
    = t('views.report_queries.group_by_fields')
  %div.select
    %div
      %select{"data-bind" => 'foreach: $root.layers(), value: selectedGroupByField, selectedOptions: groupByFieldsOptions'}
        %optgroup{"data-bind" => "attr: {label: name}, foreach: fields", style: ''}
          %option{"data-bind" => "text: name, option: name, value: $data"}
    %div{style: 'margin-top:-4px'}
      %button.padd{ ko(click: :addGroupByField)}

.control.clearfix
  %label
  %ul.list
    /ko foreach :groupByFields
    %li
      .box.light-grey
        %span{ko(text: "($index() + 1)")}
      .box.light-grey.w30
        %span{ko(text: :name)}

      %button.pclose{ ko(click: '$parent.removeGroupByField') }
    //ko

.control.clearfix
  %label{ko(css: {error: 'aggregateFieldError'})}
    = t('views.report_queries.aggregate_fields')
  %div.select
    /ko with: $root.newAggregate()
    %div
      %select{"data-bind" => 'foreach: $root.layers(), value: field, selectedOptions: selectedField'}
        /ko if: fieldsNumericOnly.length > 0
        %optgroup{"data-bind" => "attr: {label: name}, foreach: fieldsNumericOnly", style: ''}
          %option{"data-bind" => "text: name, option: name, value: $data"}
        //ko

      %select{ko(value: :aggregator, options: :aggregatorOptions, optionsText: "'label'")}
    %div{style: 'margin-top:-4px'}
      %button.padd{ ko(click: '$parent.addAggregatField') }

    //ko

.control.clearfix
  %label
  %ul.list
    /ko foreach :aggregateFields
    %li
      .box.light-grey
        %span{ko(text: :id)}
      .box.light-grey.w30
        %span{ko(text: "aggregator().label +' : '+ field().name ")}
      %button.pclose{ ko(click: '$parent.removeAggregateField') }
    //ko

.clearfix
  %label
  %div.list
    %button.white{ ko(click: '$root.saveReportQuery', enable: :valid) }
      =t('views.report_queries.save')
    %a.tgrey{ ko(click: '$root.cancelReportQuery'), href: 'javascript:void(0)' }= t('views.plugins.alerts.form.cancel')
    /ko if: !valid()
    %span{ ko(text: "'Can\\'t save: ' + error()"), style: 'color:red;margin-left:20px' }
      = t('views.report_queries.cannot_save')
    //ko
