%form{ko(with: :showSite, submit: '$root.saveSite'), action: '#/null', method: :post, novalidate: 'novalidate', style: 'display:inline;width:100%'}
  .tableheader.w30
    %button.pback{ko(click: '$root.exitSite'), type: 'button'}
    %span
    %span{ko(text: :name)}
  .tablescroll{ko(event: { mouseover: '$root.hideDatePicker'})}
    %table{style: 'width:100%'}
      %tbody
        %tr
          %td
            %div{style: 'margin-bottom:14px'}
              %label= t('views.collections.index.name')
              - if current_user.is_guest
                %span.value{ko(text: :name, visible: '!editingName()')}
              -else
                %span.value{ko(text: :name, visible: '!editingName()', click: 'editName'), style: 'cursor: pointer'}

              <!-- ko if: editingName() -->
              = ko_text_field_tag :name, visible: 'editingName()', hasfocus: true, event: {keydown: :nameKeyPress, blur: :saveName}
              <!-- /ko -->

            %div{style: 'margin-bottom:14px'}
              %label= t('views.collections.index.location')

              <!-- ko if: !hasLocation() -->
              - if current_user.is_guest
                %span.value{ko(visible: '!editingLocation()', style: 'color:grey;')}= t('views.collections.index.no_value')
              - else
                %span.value{ko(visible: '!editingLocation()', click: 'editLocation'), style: 'color:grey;cursor:pointer'}= t('views.collections.index.no_value')
              <!-- /ko -->

              <!-- ko if: hasLocation() && !editingLocation() -->
              - if current_user.is_guest
                %span.value{ko(text: :locationText, visible: '!editingLocation()')}
              - else
                %span.value{ko(text: :locationText, visible: '!editingLocation()', click: 'editLocation'), style: 'cursor: pointer'}
              <!-- /ko -->

              <!-- ko if: editingLocation() -->
              = ko_text_field_tag :locationText, visible: :editingLocation, hasfocus: true, event: {keydown: :locationKeyPress, blur: :saveLocation}, html: {class: 'ux-search', readonly: true}
              <!-- /ko -->

            - if Settings.mobile_id?
              %div{style: 'margin-bottom:14px'}
                %label= t('views.collections.index.id_with_prefix')
                %span.value{ko(text: :idWithPrefix), style: 'cursor: pointer'}

            <!-- ko foreach: layers -->
            %div.coldiv{ko(attr: {id: "'layer_' + id"},css: {error: :error, coldiv: '!expanded()', expdiv: 'expanded()'}), style: 'margin-top:24px;margin-bottom:14px'}
              %span.layerTitle{ko(text: :name, click: :toggleExpand), style: 'font-weight:bold;color:grey;cursor:pointer'}

            <!-- ko if: expanded() -->

            <!-- ko foreach: fields -->

            <!-- ko if: visible() -->

            %div{style: 'margin-bottom:14px'}
              %span{ko(text: :errorMessage, validationPopover: :errorMessage), style: 'display: none;'}
              %label.field-name{ko(html: "name + '<sup>' + code + '</sup>:'", css: { error: :error })}

              // field with value
              <!-- ko if: hasValue() && !error() -->
              <!-- ko if: writeable -->
              // editable site
              <!-- ko if: $parents[1].editable() -->

              <!-- ko if: isAllowSingleEditMode() -->
              %span.value{ko(text: :valueUI, visible: '!editing()', click: 'edit'), style: 'cursor:pointer'}
              <!-- /ko -->

              <!-- ko ifnot: isAllowSingleEditMode() -->
              <!-- ko if: kind == 'photo' -->
              %a{ko(attr: {href: "photoPath + value()"}), id: "previewimg"}
                %img{ko(attr: {src: "photoPath + value()"}), width: "60px", style: "vertical-align: middle; border: 2px solid #BBB;"}
              <!-- /ko -->
              %span.value{ko(text: :valueUI, visible: '!editing()'), style: 'cursor:pointer'}
              <!-- /ko -->

              <!-- /ko -->

              // uneditable site
              <!-- ko ifnot: $parents[1].editable() -->
              %span.value{ko(text: :valueUI, visible: '!editing()'), style: 'cursor:pointer'}
              <!-- /ko -->

              <!-- /ko -->

              <!-- ko ifnot: writeable -->
              %span.value{ko(text: :valueUI)}
              <!-- /ko -->

              <!-- ko if: kind == 'site' && !editing() -->
              %button.farrow.right{ko(click: 'function(data, event) { $root.editSiteFromId(value(),$root.currentCollection().id) }'), type: "button"}
              <!-- /ko -->

              <!-- /ko -->

              //field with no value
              <!-- ko if: !hasValue() &&  !error() -->
              <!-- ko if: writeable -->
              <!-- ko if: $parents[1].editable() -->

              <!-- ko if: isAllowSingleEditMode() -->
              %span.value{ko(visible: '!editing()', click: 'edit'), style: 'color:grey;cursor:pointer'}= t('views.collections.index.no_value')
              <!-- /ko -->

              <!-- ko if: !isAllowSingleEditMode() && isShowingNonValue() -->
              %span.value{ko(visible: '!editing()'), style: 'color:grey;cursor:pointer'}= t('views.collections.index.no_value')
              <!-- /ko -->

              <!-- /ko -->
              <!-- ko ifnot: $parents[1].editable() -->
              %span.value{ko(visible: '!editing()'), style: 'color:grey;cursor:pointer'}= t('views.collections.index.no_value')
              <!-- /ko -->
              <!-- /ko -->

              <!-- ko if: kind == 'custom_widget' && !editing() -->
              %div{style: "position: relative; padding-left: 0px;", class: 'custom_widget-wrapper'}
                %p{"data-bind" => "html: widgetContentViewAsSpan"}
              <!-- /ko -->

              <!-- ko ifnot: writeable -->
              %span.value{style: 'color:grey'}= t('views.collections.index.no_value')
              <!-- /ko -->
              <!-- /ko -->

              <!-- ko if: editing() || error() -->
              - Field::kinds.each do |kind|
                <!-- ko if: kind == '#{kind}' -->
                = render partial: field_edit_view(kind), locals: { single_editing_mode: true, mobile: false }
                <!-- /ko -->
              <!-- /ko -->

            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->

  <!-- ko if: !$root.currentSnapshot() -->
  .tablebottom
    -# if (can? :edit, site)
    - if current_user && !current_user.is_guest
      <!-- ko if: editable -->
      = link_to t('views.collections.index.edit_site'), 'javascript:void()', class: 'icon fedit black', 'data-bind' => kov(click: 'startEditMode')
      = link_to t('views.collections.index.delete_site'), 'javascript:void()', class: 'icon fdelete black', 'data-bind' => kov(click: '$root.deleteSite')
      <!-- ko if: $root.currentCollection().isPublishedTemplate -->
      %div{style: 'float: right; margin-top: 6px; margin-right: 6px;'}
        = link_to t('views.collections.index.print_report'), 'javascript:void()',style: 'color: #000;', target: :_blank, 'data-bind' => kov(click: '$root.openShareUrlDialog')
      <!-- /ko -->
      <!-- /ko -->
  <!-- /ko -->
