<%= form_for [collection, @report_query_template]  do |f| %>
  <div class="field w60">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field w60">
    <%= f.label 'Insert Report Query' %>
    <%= f.select :report_query_id, options_for_select(collection.report_queries.map{|r| [r.name, r.id]}), prompt: 'Select a query' %>
  </div>

  <div class="row">
    <%= f.text_area :template, class: "custom-tinymce", style: 'width: 1200px;' %>
  </div>
  <div class="row">
    <%= f.button 'Save', class: 'white' %>
    <%= link_to 'Cancel', collection_report_query_templates_path(collection), :class=> 'grey'%>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    var token = "{report}"
    $("#report_query_template_report_query_id").on('change', function() {
      var $this = $(this);
      if($this.val()){
        var editorContent = tinyMCE.activeEditor.getContent();
        if(editorContent.indexOf(token) == -1) {
          insertIntoEditor(token)
        }
      }
    })
  })
</script>
