<!-- calculate result only need if and only if there is a result parttern in the template -->
<% if template.has_report_place_holder?  %>
  <% if template.report_result.kind_of?(Array) %>
    <table style="width: 100%;border-color: #999; margin-left: auto; margin-right: auto;text-align:center; font-family: hanuman;"
           border="1"
           cellspacing="0"
           cellpadding="4"
           align="center" >
      <thead>
        <tr>
          <% template.report_result.first.each do |col| %>
            <th><font face='hanuman'><%= col %></font></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% template.report_result[1..-2].sort { |a,b| a[0] <=> b[0] }.each do |row| %>
          <tr>
            <% row.each do |col| %>
              <td><%= col %></td>
            <% end %>
          </tr>
        <% end %>

        <% if template.report_query.is_total_aggregate_field %>
        <tr>
          <% template.report_result[-1].each_with_index do |col, index| %>
            <% if index == 0 %>
              <td colspan="<%= template.report_query.group_by_fields.length %>">
                <%= col %>
              </td>
            <% else %>
              <td><%= col %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>

      </tbody>
    </table>
  <% else %>
    <%= render 'failed', errors: template.report_result %>
  <% end %>
<% end %>
<style media="screen">
  thead { display: table-row-group; }
  tfoot { display: table-row-group }
  tr { page-break-inside: avoid }
</style>
