<%= render '/tabs' %>

<div class="tabsline settings-form" >
  <h2> <%= t('views.report_query_templates.title') %></h2>
  <% if current_user_snapshot.at_present? && collection_admin? %>
    <p><%= t('views.report_query_templates.create_custom_template_for_report_query') %></p>
    <div style="float:right">
      <%= link_to t('views.report_query_templates.create_report_template'), new_collection_report_query_template_path(collection), class: 'button white' %>
    </div>
  <% end %>
</div>


<%= form_tag report_report_query_template_pdfs_path, method: 'post', id: 'form-create-report' do |f| %>
  <table class="GralTable tableview">
    <tr>
      <th width="10"></th>
      <th><%= t('views.report_query_templates.name') %></th>
      <th><%= t('views.report_query_templates.title') %></th>
      <th width="100"><%= t('views.report_query_templates.action') %></th>
    </tr>
    <% @report_query_templates.each do |template| %>
      <tr>
        <td>
          <%= check_box_tag 'template_uuids[]', template.uuid, false, class: 'templateList' %>
        </td>
        <td>
            <% clazz = template.has_report_query? ? '' : 'error' %>
            <span class="report-name">
              <span class="<%= clazz %>"> <%= template.name  %> </span>
            </span>
        </td>
        <td><%= template.report_query.name if template.report_query %></td>
        <td>
          <% if current_user_snapshot.at_present? && collection_admin? %>
          <%=link_to '', edit_collection_report_query_template_path(collection, template), class: 'button fedit' %>
          <%=link_to '', collection_report_query_template_path(collection, template),
                              method: :delete, confirm: 'Are you sure you want to delete?', class: 'button fdelete' %>
          <% end %>
          <% if template.has_report_query? %>
            <%=link_to '', collection_report_query_template_path(collection, template.uuid), class: 'button fpreview' %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </table>
  <%= hidden_field_tag 'collection_id', collection.id %>
  <div style='text-align: right' >
    <%= select_tag 'orientation', options_for_select(ReportQueryTemplate::ORIENTATION.map { |o| [o[:label], o[:value]] }),
     prompt: t('views.report_query_templates.download_pdf'), id: 'generate_multiple_report_with_orientation' %>
  </div>
<% end %>
