<%= render '/tabs' %>

<div class="tabsline settings-form" >
  <h2>Report Template</h2>
  <p>Create Custom Template for report query</p>
  <div style="float:right">
    <%= link_to 'Create Report Template', new_collection_report_query_template_path(collection), class: 'button white' %>
  </div>
</div>

<table class="GralTable tableview">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Report Query</th>
    <th>Action</th>
  </tr>
<% @report_query_templates.each do |template| %>
  <tr>
    <td><%= template.id %></td>
    <td><%= template.name %></td>
    <td><%= template.report_query.name %></td>
    <td>
      <%=link_to '', edit_collection_report_query_template_path(collection, template), class: 'button fedit' %>
      <%=link_to '', collection_report_query_template_path(collection, template),
                          method: :delete, confirm: 'Are you sure you want to delete?', class: 'button fdelete' %>
    </td>
  </tr>
<%end%>

</table>
