<%= render '/tabs' %>

<div class="tabsline settings-form" >
  <h2>Preview Report</h2>
  <textarea class= "custom-tinymce">
    <div class="container">
      <% render_result = render('result', template: @template ) %>
      <div id='report-query-template'>
        <%= @template.translate_template(render_result).html_safe %>
      </div>
    </div>
  </textarea>

  <%= form_tag report_query_template_pdfs_path, method: 'post', id: 'form-create-pdf' do |f| %>
    <input type="hidden" name="id" value="<%= @template.uuid %>"  id='create-pdf-id' />
    <input type="hidden" name="text" value="" id='create-pdf-text' />
    <br/>
    <div style='text-align: right' >
      <button type="button" id='btn-create-pdf'> Download PDF </button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    var fonts = '<%= google_khmer_fonts %>';
    var encoding = '<meta charset="utf-8">';
    var style = '<style> thead { display: table-header-group } tfoot { display: table-row-group } tr { page-break-inside: avoid }</style>';
    var heading = fonts + encoding+ style;

    $("#btn-create-pdf").on('click', function(){
      var text = $(tinyMCE.activeEditor.iframeElement).contents().find('html')[0].outerHTML;
      var offset = text.indexOf("<head>") + "<head>".length;
      var html = text.substr(0, offset) + heading + text.substr(offset);

      $("#create-pdf-text").val(html);

      $("#form-create-pdf").submit();
    });

    $('ul.tabs li:nth-last-child(1)').addClass('active');
  });
</script>
